<a href="#", style="line-height: 30px">Dog: Spike</a><br>
<a href="#", style="line-height: 30px">Cat: Tom</a><br>
<a href="#", style="line-height: 30px">Mouse: Jerry</a><br>

<button type="button">Create Pet</button>
