<h1><%= "#{@pet.kind}: #{@pet.name}" %></h1>
<b>health:</b><%= @pet.health %><br>
<b>happiness:</b><%= @pet.happiness %><br>
<b>stamina:</b><%= @pet.stamina %><br>

<button type="button">Feed</button>
<button type="button">Play</button>
<button type="button">Sleep</button>