<h1>Video</h1>
<b style="line-height: 40px">Title:</b> <%= @video.title %><br>
<b style="line-height: 40px">Description:</b> <%= @video.description %><br>
<b style="line-height: 40px">Age rating:</b> <%= @video.age_rating %><br>

<%= render 'my_partial' %>